<div id="chat">
    <div class="top">
        <div class="row">
            <div class="col-2">
                <div id="image"></div>
            </div>
            <div class="col">
                <h4>Jana Bot</h4>
                <h5>Ask me a question</h5>
            </div>
            <div class="col-2">
                <span (click)="close()">&times;</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div id="messages">
            <div class="message">
                <p>Hi!</p>
            </div>
            <div class="message">
                <p>I'm Jana Bot. I'm here to help you with any questions you might have about Jana's work.</p>
            </div>
            <div class="message">
                <p>How can I help you today?</p>
            </div>
            <div *ngFor="let m of messages">
                <div *ngIf="m.type=='user'" class="reply">
                    <p>{{m.text}}</p>
                </div>
                <div *ngIf="m.type=='bot' && m.text=='Contact me'" class="contact" (click)="contactMe()">
                    <div *ngIf="m.text=='typing'" class="typing">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p *ngIf="m.text!='typing'">{{m.text}}</p>
                </div>
                <div *ngIf="m.type=='bot' && m.text=='Download Bachelor Thesis Paper'" class="contact"
                    (click)="downloadPaper()">
                    <div *ngIf="m.text=='typing'" class="typing">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p *ngIf="m.text!='typing'">{{m.text}}</p>
                </div>
                <div *ngIf="m.type=='bot' && m.text!='Contact me' && m.text!='Download Bachelor Thesis Paper'"
                    class="message" #elseblock>
                    <div *ngIf="m.text=='typing'" class="typing">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p *ngIf="m.text!='typing'">{{m.text}}</p>
                </div>
            </div>
            <div *ngIf="showQuestions">

                <div *ngFor="let q of questions">

                    <div class="question" (click)="response(q)">
                        <p>{{q}}</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>