#GraduationProject{
    height:1000px;
}
h2{
    display:flex;
    justify-content: center;
    margin-top: 70px;
}
#page{
    margin-right: 0px;
    padding-top: 70px;
}
.face{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url("/assets/man.png");
    background-size: 500px;
    margin-left: 100px;
    margin-top: 60px;
}
.face::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/man (5).png");
    background-size: 500px;
    animation: animate 4s ease-in-out infinite;
}
:host-context(.dark-mode) .face::before{
    background-image: url("/assets/man (7).png");
}

@keyframes animate{
    0%,100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}
.face::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background:hsla(172, 96%, 18%, 0.8);
    border-radius: 8px;
    filter: drop-shadow(0 0 20px hsla(172, 96%, 18%, 0.8)) drop-shadow(0 0 60px hsla(172, 96%, 18%, 0.8));
    animation: animate_line 4s ease-in-out infinite;
}
:host-context(.dark-mode) .face::after{
    background:#689b8a;
    filter: drop-shadow(0 0 20px #689b8a) drop-shadow(0 0 60px #689b8a);
}
@keyframes animate_line{
    0%,100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}

.face .dots{
    position: absolute;
    inset: 0;
}
.face .dots::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    
}
h4{
    margin: 60px auto auto 300px;
    font-size: 30px;
}
p{
    width: 900px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 300px;
}
#button{
    width:400px;
    height: 100px;
    border-radius: 15px;
    background-color: #025a4e;
    margin-left: 550px;
    margin-top: 70px;
    cursor: pointer;
    align-items: center;
}
:host-context(.dark-mode) #button{
    background-color: #689b8a;
}
img{
    width: 80px;
    height: auto;
    margin-left: 217px;
    margin-top: 13px;
}
label{
    font-weight: 800;
    font-size: xx-large;
    width:200px;
    margin-left: 47px;
}