@font-face {
  font-family: 'Title';
  src: url('./assets/Boldonse-Regular.ttf');
}
@font-face {
  font-family: 'Text';
  src: url('./assets/SpaceGrotesk-VariableFont_wght.ttf');
}
body{
  background-color: rgb(219, 204, 182);
}
h2{
    font-family: Title;
    font-weight: 1000;
    color: hsla(172, 95%, 18%, 1);
    font-size: 40px;
}
h3,h4,h5,h6,label,p,li{
    font-family: Text;
}