@font-face {
  font-family: 'Title';
  src: url('./assets/Boldonse-Regular.ttf');
}
@font-face {
  font-family: 'Text';
  src: url('./assets/SpaceGrotesk-VariableFont_wght.ttf');
}
body{
  background-color: rgb(219, 204, 182);
}
body.dark-mode {
  background-color: #233831;
  color: #d4ede4;
}
body.dark-mode h2 {
  color: #689b8a;
}
h2{
    font-family: Title;
    font-weight: 1000;
    color: #025a4e;
    font-size: 40px;
}
h3,h4,h5,h6,label,p,li{
    font-family: Text;
}
@media (max-width: 599px) {
    body {
        width: 100vw;
    }
  }
@media (min-width: 600px) and (max-width: 899px) {
    body {
      /*width: 100vw;*/
    }
  }
