#Home{
    height: 900px;
    display: flex;
    justify-content: center;
}
.icon{
    height: 40px;
    width: 40px;
    margin: 10px 0px auto 7px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     
}
h2{
    margin-top: 100px;
    margin: 10px 2px;
}
#name{
    margin-right: 0px;
    margin-top: 340px;
}
#image{
    margin-top: 220px;
    border: solid;
    border-color: rgb(58, 108, 151);
    border-radius: 50%;
    border-width: 3px;
    height: 450px;
    width: 450px;
}
i{
    font-weight: 300;
    font-size: 35px;
}