#panel {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    text-align: center;
    border-radius: 25px;
    width: 960px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: background-color 0.3s ease;

    z-index: 1000;
}

li {
    margin: 10px 10px 10px 24px;
    cursor: pointer;
}